*{
    margin: 0px;
    font-family: 'Arvo', serif;
}

.logo{ 
    margin-bottom: -5cm;
    width: 200px;
}

.div_logo{
    background-color:rgb(78, 197, 226);
}

body{
    background: rgb(147, 255, 75);
}

ul {display: flex;
    flex-direction: row;
    position: relative;
    bottom: 130px;
    left: 200px;
    padding-left: 140px;
    margin: 10%;
}

a{
    color: black; padding: 10px;
    font-size: 17px;
}

li{
    list-style-type:none; 
    color: black;
}

.titulo{
    font-size: 50px;
    text-align: center;
    padding: 66px;
    padding-top: 80px;
    background-color: beige;
    margin: 20px;
    border: 8px solid black;
}

.grid{
    display: grid;
    grid-template-columns: 40% 30%;
    grid-auto-rows: 30% 50%;
    grid-column-gap: 10px;
    margin-left: 100px;

}

.formulario{
    padding: 20px;
    padding-left: 20px;
    padding-bottom: 150px;
    margin-top: 20%;
    margin-left: 100px;
}
.apellido{
    margin-left: 23%;
}

.gif{
    width: 500px;
    margin-top: 100px;
    border: 8px solid black;
    margin-bottom: 100px;
    margin-left: 160px;
}


.hola{ 
    padding: 30px;
    padding-bottom: 5px;
}

.area{
    width: 200px;
    padding: 30px;
    margin-left:30px;

}

.redes{
    width: 80px;
    padding-left: 20px; 
}

.redes-display{ 
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-between;
    padding: 7px;
    padding-left: 100px;

}

h3{ 
    padding-left: 100px;
    
}


.pie{
    background-color:rgb(78, 197, 226);
    margin: 0px;
}