<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contacto - 24825</title>
    <link rel="stylesheet" href="../css/estilo-contacto.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>
    <header>
        <div class="div_logo">
            <a href="../index.html"><img src="../assets/img/images-logo.jpg" alt="logo" class="logo"> </a>  
            <nav>
                <ul>
                  <li><a href="../index.html">HOME</a></li>
                  <li><a href="nosotros.html">NOSOTROS</a></li>
                  <li><a href="productos.html">PRODUCTOS</a></li>
                  <li><a href="#">CONTACTO</a></li>
                  <li><a href="opiniones de nuestros clientes.html">OPINIONES DE NUESTROS CLIENTES</a></li>
                </ul>
            </nav>
       </div> 
    </header> 
    <div>
        <h3 class="titulo">CONTACTO</h3>
    </div>
    <main class="grid">
        <form action="#" class="formulario">
            <Label for="nombre"> NOMBRE:
                <input type="text" name="nombre">
            </Label><br>
                <input type="text" name="apellido" placeholder="APELLIDO" class="apellido">
                    <br>
            <label for="pass">  TELEFONO:
                <input type="password" name="pass">
            </label><br>
            <label for="edge"> CORREO:
                <input type="email">
            </label>
            <div> ELEGIR TAMAÑO CASA
               <select name="talle" id="talle">
                   <option value="s">SMALL</option>
                   <option value="s">MEDIUM</option>
                   <option value="s">LARGE</option>
                   <option value="s">XLARGE</option>
               </select>
            </div>
            <div class="hola">
                MENSAJE
            </div>
            <div class="area">
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
            <div>Acepto los terminos y condiciones
                <input type="checkbox" name="aceptar" value="1">
            </div>
                <input type="submit" value="enviar">
                <input type="reset" value="reset">
                <input type="button" value="no hago nada">
        </form>
        <div>
            <img src="../assets/Img/gif-casita.gif" alt="gif" class="gif">
        </div>
    </main> 
        <h3>Redes Sociales</h3>
    <footer class="pie">
    <div class="redes-display">
            <a href="https://www.instagram.com/?hl=es-la"  rel="instagram" target="blank"> <img src="../assets/img/insta.jfif" alt="logo intagram" class="redes"> </a>
            <a href="https://www.whatsapp.com/"  rel="whatsapp" target="blank"> <img src="../assets/img/whatsapp.jfif" alt="logo whatsapp" class="redes"> </a>
            <a href="https://www.facebook.com/"  rel="face" target="blank"><img src="../assets/img/facebook.png" alt="facebook" class="redes"> </a>
        </div>
         <div>
            <a href="views/contacto.html"></a>
        </div>
    </div>
    </footer>   
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>                                     
</body>
</html>